<div class="chatbot" [ngClass]="{ show: showChatbot }">
  <div class="menu" *ngIf="showMenu" (click)="showMenu = false">
    <ul>
      <li class="menu-item" (click)="onDeleteHistory()">Delete History</li>
      <li class="menu-item" (click)="showChatbot = false">Close Chat</li>
    </ul>
  </div>
  <div
    class="chatbot-header collapse"
    (click)="onChatbotClick($event.target)"
    [ngClass]="{ light: changeColor }"
  >
    <h3 class="collapse">Chatbot</h3>
    <div class="circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="#f2f2f2"
        class="three-dots-vertical"
        viewBox="0 0 16 16"
      >
        <path
          d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
        />
      </svg>
    </div>
  </div>
  <div class="chatbot-body">
    <div class="list-messages" #messagesContainer>
      <p class="timestamp">{{ timestamp }}</p>
      <div *ngFor="let message of messages">
        <message
          class="message"
          [message]="message"
          [ngClass]="{
            'left-message': !message.userOwner,
            'right-message': message.userOwner
          }"
          (selectedOption)="onOptionSelect($event)"
        ></message>
      </div>
    </div>
    <div class="actions">
      <div class="input-message">
        <input
          class="input-text-message"
          type="text"
          [(ngModel)]="textInput"
          placeholder="Type text here"
          (keyup)="onKey($event)"
        />
        <button type="submit" (click)="sendMessage()">
          <img src="../../assets/send 1.png" alt="airplane" />
        </button>
      </div>
    </div>
  </div>
</div>
