<div class="about-container">
  <div class="hero-section">
    <div class="gray-section">
      <h2>1998 წლიდან ამ ბანკს ენდობიან ათასები</h2>
      <p>
        ჩვენ ვართ GreenBank, ტექნოლოგიური კომპანია, რომელიც არსებობს
        მომხმარებლებისთვის, იცნობს მათ და ზრუნავს მათზე. გვყავს საუკეთესო გუნდი,
        რომელსაც არ ეშინია შეცდომების დაშვებისა, ინოვაციურად აზროვნებს და
        ყოველთვის მიისწრაფვის მოაწოდოს საუკეთესი პროდუქტი.GreenBank ადამიანების
        ყოველდღიურობის მნიშვნელოვანი ნაწილია და ემსახურება მათ ციფრულად.
      </p>
    </div>
  </div>
  <div class="triggers">
    <trigger-list
      [isVertical]="false"
      [triggers]="aboutTriggers"
    ></trigger-list>
  </div>
  <div class="review">
    <h3>რას ამბობენ ჩვენი კლიენტები</h3>
    <div class="reviews">
      <trigger-list
        [isReview]="true"
        [isVertical]="false"
        [triggers]="reviews"
      ></trigger-list>
    </div>
  </div>
</div>
