@import "../../../styles.scss";

.content-message {
  font-size: 18px;
  width: 100%;
}

p.timestamp {
  color: $timestamp-gray;
  position: absolute;
  font-size: 16px;
}

.left-content {
  position: relative;
  background-color: $highlight-primary;
  padding: 10px;
  color: $primary-light;

  img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -50px;
    bottom: -20px;
  }

  p.timestamp {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.right-content {
  position: relative;
  background-color: $primary-dark;
  padding: 10px;
  color: $primary-light;

  p.timestamp {
    left: -55px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.selections {
  font-size: 18px;
  color: $primary-light;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;

  p {
    background-color: $highlight-primary;
    width: fit-content;
    margin: 5px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: lighten($color: $highlight-primary, $amount: 3);
    }
  }
}
