<div *ngIf="message.userOwner" class="content-message right-content">
  <p>
    {{ message.text }}
  </p>
  <p class="timestamp">{{ message.date }}</p>
</div>
<div *ngIf="!message.userOwner">
  <div class="left-content">
    <img src="../../../assets/Chatbot.png" alt="chatbot" />
    <p class="content-message">
      {{ message.text }}
    </p>
    <p class="timestamp">{{ message.date }}</p>
  </div>
  <div class="selections" *ngIf="message.selectOptions">
    <p
      *ngFor="let option of message.selectOptions"
      (click)="onSelectOption(option.id)"
    >
      {{ option.text }}
    </p>
  </div>
</div>
