$blue-primary: #0072bc;
$gray-primary: #dddddd;
$gray-secondary: #e9e9e9;
$chatbot-text: #2c2c2c;
$user-text: #ececec;
$timestamp-gray: #555555;
$bg-primary: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
