<footer>
  <ul class="contact">
    <li>
      <a href="https://www.facebook.com/" target="_blank"
        ><img src="../../../../assets/facebook.png" alt="facebook"
      /></a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank"
        ><img src="../../../../assets/instagram.png" alt="instagram"
      /></a>
    </li>
    <li>
      <a href="https://www.twitter.com/" target="_blank"
        ><img src="../../../../assets/twitter.png" alt="twitter"
      /></a>
    </li>
  </ul>
  <nav>
    <ul>
      <li routerLink="home" (click)="scrollToTop()"><a>მთავარი</a></li>
      <li routerLink="contact" (click)="scrollToTop()"><a>კონტაქტი</a></li>
      <li routerLink="about" (click)="scrollToTop()"><a>ჩვენ შესახებ</a></li>
    </ul>
  </nav>
  <p class="copyright">© Copyright 2022</p>
</footer>
